.navbar{
    background-color: black;
    width: 100%;
    color: black;
}
div{
    position: absolute;
width: 1728px;
height: 87px;
left: 0px;
top: 0px;

background: #000000;
}
.h1{
    
position: absolute;
width: 600px;
height: 144px;
left: 38px;
top: 140px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #000000;


}
.class1{
    position: absolute;
width: 180px;
height: 29px;
left: 38px;
top: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}
.text{
    position: absolute;
width: 1624px;
height: 546px;
left: 38px;
top: 245px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #000000;
}
#btn{
    position: absolute;
width: 129px;
height: 33px;
left: 87px;
top: 530px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: white;
background: #000000;

}


.h2{
    position: absolute;
width: 600px;
height: 144px;
left: 38px;
top: 669px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #000000;

}
img{
    
position: absolute;
width: 729px;
height: 911px;
left: 38px;
top: 831px;

background: #D9D9D9;
}
.ol{
    position: absolute;
width: 600px;
height: 144px;
left: 38px;
top: 1782px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #000000;
}
ol{
    position: absolute;
width: 1624px;
height: 174px;
left: 38px;
top: 1899px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.ul{
    position: absolute;
width: 600px;
height: 144px;
left: 38px;
top: 2113px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #000000;

}
ul{
    position: absolute;
width: 1624px;
height: 174px;
left: 38px;
top: 2230px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #000000;

}